// Links

a {
  text-decoration: none;
  color: $font-color;
  font-weight: 500;

  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color;
  }
}

// Links Dark
.dark-theme {
  a {
    color: $text-dark;

    &:hover,
    &:active,
    &:focus {
      color: white;
    }
  }
}
