.nav-container {
  max-width: $width;
  padding: $padding;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
}

@include small-breakpoint {
  .nav-container {
    padding: $padding-bigger;
  }
}

.brand {
  a {
    display: flex;
    align-items: center;
    color: #333;
    margin-right: 0;
    font-weight: 500;
    font-size: 1.15rem;

    &:hover,
    &:focus {
      color: black;
    }
  }
}

.emoji {
  font-size: 1.5rem;
  margin-right: 5px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  a {
    padding: 0.75rem;
    margin: 0 0.25rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    border-radius: $border-radius;

    &:hover,
    &:active,
    &.active {
      color: #111;
      background: $link-hover-background;
    }
  }
}
