// Containers

$x-small: 720px;
$small: 800px;
$medium: 1200px;
$large: 1300px;

// Breakpoints

$mobile: 620px;
$tablet: $small;
$desktop: $medium;

$width: 800px;

// Colors

$background: #f0f0f0;
$font-color: #454545;
$link-color: rgba(0, 0, 0, 0.6);
$link-hover-color: darken($font-color, 15%);
$link-hover-background: rgba(0, 0, 0, 0.05);
$green: #13ce66;
$red: #f95f62;
$violet: #a15cff;
$brown: #b8977e;
$orange: #ff9052;
$yellow: #ffd185;
$blue: #00a6ff;

// Dark

$background-dark: #202020;
$foreground-dark: #b3b9c5;
$heading-dark: white;
$text-dark: #9fa3a9;
$link-hover-background-dark: rgba(0, 0, 0, 0.1);
$accent: #303030;
$dark-border: darken($background-dark, 3%);

// Body Font

$font-family: Helvetica Neue, 'Inter', -apple-system, BlinkMacSystemFont,
  Helvetica, Arial, sans-serif;
$font-size: 1rem;
$font-size-bigger: 1.15rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$line-height: 1.6;

// Headings

$heading-font-color: #111;
$heading-font-weight: 700;
$heading-font-family: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica,
  Arial, sans-serif;
$heading-line-height: 1.3;

// Heading font size

$h1-size: 3.5rem;
$h2-size: 2.1rem;
$h3-size: 1.85rem;
$h4-size: 1.5rem;
$h5-size: 1.4rem;

// Mobile heading font size

$h1-mobile: 1.85rem;
$h2-mobile: 1.7rem;
$h3-mobile: 1.5rem;
$h4-mobile: 1.3rem;
$h5-mobile: 1.2rem;

// Padding

$padding: 0 1.5rem;
$padding-bigger: 0 2rem;
$content-padding: 60px 0;
$content-padding-mobile: 30px 0;

// Borders

$border-width: 2px;
$border-style: solid;
$border-color: #ccc;
$border-radius: 6px;
$borders: $border-width $border-style $border-color;
$box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.16);

// Buttons

$buttons: ('.button, a.button, button, [type=submit], [type=button]');

$primary-hover: lighten($green, 33%);
$button-background: $green;
$button-background-hover: darken($green, 15%);
$button-color: white;
$button-font-weight: 500;
$button-font-family: Helvetica Neue, 'Inter', -apple-system, BlinkMacSystemFont,
  Helvetica, Arial, sans-serif;
$button-font-size: 1.1rem;
$button-border-width: 2px;
$button-border-style: solid;
$button-border-color: $green;
$button-border-radius: $border-radius;
$button-text-transform: none;

/* Code */

$code-color: $font-color;
$code-size: 14px;
$code-family: Menlo, monospace;
$code-background: transparent;
$code-borders: $borders;
$code-font-family: Menlo, 'Roboto Mono', Courier New, monospace;
$code-font-color: #b3b9c5;
$string: #92d192;
$variable: #f2777a;
$property: #abb2bf;
$number: #fca369;
$operator: #ac8d58;
$punctuation: #d5d8df;
$comment: #848991;
$function: #62cfcf;
$keyword: #ffeead;
$attribute: #ffd479;
$class: #e1a6f2;
$tag: #6ab0f3;
$error: #f2777a;
