// Containers

$x-small: 720px;
$small: 800px;
$medium: 1200px;
$large: 1300px;

// Breakpoints

$mobile: 620px;
$tablet: $small;
$desktop: $medium;

$width: 800px;

// Colors

$background: #f0f0f0;
$font-color: #454545;
$link-color: rgba(0, 0, 0, 0.6);
$link-hover-color: darken($font-color, 15%);
$link-hover-background: rgba(0, 0, 0, 0.05);
$green: #13ce66;
$red: #f95f62;
$violet: #a15cff;
$brown: #b8977e;
$orange: #ff9052;
$yellow: #ffd185;
$blue: #00a6ff;

// Body Font

$font-family: Helvetica Neue, 'Inter', -apple-system, BlinkMacSystemFont,
  Helvetica, Arial, sans-serif;
$font-size: 1rem;
$font-size-bigger: 1.15rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$line-height: 1.6;

// Headings

$heading-font-color: #111;
$heading-font-weight: 700;
$heading-font-family: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica,
  Arial, sans-serif;
$heading-line-height: 1.3;

// Heading font size

$h1-size: 3.5rem;
$h2-size: 2.1rem;
$h3-size: 1.85rem;
$h4-size: 1.5rem;
$h5-size: 1.4rem;

// Mobile heading font size

$h1-mobile: 1.85rem;
$h2-mobile: 1.7rem;
$h3-mobile: 1.5rem;
$h4-mobile: 1.3rem;
$h5-mobile: 1.2rem;

// Padding

$padding: 0 1.5rem;
$padding-bigger: 0 2rem;
$content-padding: 60px 0;
$content-padding-mobile: 30px 0;

// Borders

$border-width: 2px;
$border-style: solid;
$border-color: #ccc;
$border-radius: 6px;
$borders: $border-width $border-style $border-color;
$box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.16);
