// Containers

$x-small: 720px;
$small: 800px;
$medium: 1200px;
$large: 1300px;

// Breakpoints

$mobile: 620px;
$tablet: $small;
$desktop: $medium;

$width: 750px;

// Colors
$background: #f0f0f0;
$font-color: #454545;
$link-color: rgba(0, 0, 0, 0.6);
$link-hover-color: darken($font-color, 15%);

// Body Font
$font-family: Helvetica Neue, 'Inter', -apple-system, BlinkMacSystemFont,
  Helvetica, Arial, sans-serif;
$font-size: 1rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$line-height: 1.6;

// Headings
$heading-font-color: #111;
$heading-font-weight: 700;
$heading-font-family: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica,
  Arial, sans-serif;
$heading-line-height: 1.3;

// Heading font size
$h1-size: 3.5rem;
$h2-size: 2.1rem;
$h3-size: 1.85rem;
$h4-size: 1.5rem;
$h5-size: 1.4rem;

// Borders
$border-radius: 6px;
