// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// Base
@import 'base/variables';
@import 'base/mixins';
@import 'base/reset';

// Components
@import 'components/layout';
@import 'components/navigation';
@import 'components/section';
@import 'components/article';
